<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>

<section class="container">
    <div class="row">
        <repeat group="{{ @SESSION.items }}" value="{{ @SESSION.items }}">
            <div class="col-4">
                <div class="card">
                    <img src="images/defaultPizza.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ @SESSION.items['name'] }}</h5>
                        <p class="card-text bg-secondary">{{ @SESSION.items['description'] }}</p>
                        <a href="#" class="btn btn-primary">Buy that!</a>
                    </div>
                </div>
            </div>
        </repeat>
    </div>
</section>
<include href="views/includes/footer.html"></include>
</body>
</html>