<!--
* Joshua Nakatani
* 5/4/2023
* 328/application/mailingList.html
* Mailing list options for application
-->


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Mailing List</title>
</head>
<body>

<div class="container">
    <div class="row">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-btn" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="container navbar-header">
                            <p class="words">Company LLC</p>

                            <h3>Software Development Internship</h3>

                            <p>Seattle Washington, Paid, 12 weeks</p>
                        </div>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                        -->
                    </div>
                </div>
            </div>
        </nav>
        <form action="#" method="post">
        <div class="row info-body">
            <h3>Job Openings Mailing Lists</h3>
            <hr class="header-featurette-divider">
            <div class="row mailing-lists">
                <p><strong>Software Development Jobs</strong></p>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="JavaScript" id="javaScriptMail" name="jobMail[]">
                    <label class="form-check-label" for="javaScriptMail">
                        JavaScript
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="PHP" id="phpMail" name="jobMail[]">
                    <label class="form-check-label" for="phpMail">
                        PHP
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="Java" id="javaMail" name="jobMail[]">
                    <label class="form-check-label" for="javaMail">
                        Java
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="Python" id="pythonMail" name="jobMail[]">
                    <label class="form-check-label" for="pythonMail">
                        Python
                    </label>
                </div>
            </div>
            <div class="row mailing-lists">
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="HTML" id="htmlMail" name="jobMail[]">
                    <label class="form-check-label" for="htmlMail">
                        HTML
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="CSS" id="cssMail" name="jobMail[]">
                    <label class="form-check-label" for="cssMail">
                        CSS
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="ReactJS" id="reactJSMail" name="jobMail[]">
                    <label class="form-check-label" for="reactJSMail">
                        ReactJS
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="NodeJS" id="nodeJSMail" name="jobMail[]">
                    <label class="form-check-label" for="nodeJSMail">
                        NodeJs
                    </label>
                </div>
            </div>
            <div class="row mailing-lists">
                <p><strong>Industry Verticals</strong></p>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="SaaS" id="saasMail" name="industryMail[]">
                    <label class="form-check-label" for="saasMail">
                        SaaS
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="Health Tech" id="healthTechMail" name="industryMail[]">
                    <label class="form-check-label" for="healthTechMail">
                        Health tech
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="AG Tech" id="agTechMail" name="industryMail[]">
                    <label class="form-check-label" for="agTechMail">
                        Ag tech
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="HR Tech" id="hrTechMail" name="industryMail[]">
                    <label class="form-check-label" for="hrTechMail">
                        HR tech
                    </label>
                </div>
            </div>
            <div class="row mailing-lists">
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="Industrial Tech" id="industrialTechMail" name="industryMail[]">
                    <label class="form-check-label" for="industrialTechMail">
                        Industrial tech
                    </label>
                </div>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" value="Cyber Security" id="cyberSecurityMail" name="industryMail[]">
                    <label class="form-check-label" for="cyberSecurityMail">
                        Cybersecurity
                    </label>
                </div>
            </div>
            <div class="row mailing-lists">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-4">
                    <div class="col mailing-btn-container">
                        <button class="btn btn-secondary next-btn" type="submit">Next >></button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <br>
</div>

<footer class="footer container">
    <p class="float-end">
        <a class="footer-nav-link" href="#">Back to top</a></p>
    <p>2023 Joshua Nakatani</p>
</footer>
</body>
</html>