body {
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    /*font-family: "Arial Black";*/
}

.accent {
    background-color: rgb(196,16,46);
}

.card {
    width: 100%;
}

.card-title {
    text-align: center;
}

.card-text {
    color: black;
}

.order-button {
    margin: auto;
    display: block;
    width: 70%;
    background-color: rgb(196,16,46);
}

.btn:hover {
    background-color: #00a500;
}

.sign-up-text {
    margin: 0.5rem auto 0.5rem auto;
}

.center-text {
    text-align: center;
}

/*Start of the section of code that is responsible for the header styles*/
header {

    /*background-color: rgba(255, 84, 11, 0.6);*/
    font-family: "Arial Black";
    padding-top: 10px;
}

a#shoppingCart.nav-link{
    position: absolute;
    right: 10px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    border-radius: 25px;
    background-color: rgb(196,16,46) !important;
}

/*End of the section of code that is responsible for the header styles*/

div.card{
    margin-bottom: 20px;
    width: 100%;
}


img#samsImage.rounded {
    width: 160px;
    hight: 160px;
    margin-left: 50px;
}

img#joshsImage {
    width: 10rem;
}

/*Start of the section of code that is responsible for the footer styles*/

footer{
    text-align: center;
    padding: 10px;
    /*background-color: white;*/
    border-radius: 25px;
    margin-bottom: 10px;

}

footer svg {
    margin-left: 10px;
    margin-right: 10px;
}
/*End of the section of code that is responsible for the footer styles*/

/*Start of the section of code that is responsible for the orderPage styles*/

button.btn.btn-primary.form-control{
    background-color: rgba(189, 195, 199, 0.95);
    color: #191917;
    border: none;
    width: 100%;
    margin: 1rem auto 1rem auto;
}

/*End of the section of code that is responsible for the orderPage styles*/