<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
<!--<img src="images/large-three-topping.png" alt="pizza background">-->

<section class="container">

    <div class="row">
        <div class="col">
            <h3>Our Mission Statement!</h3>
            <p class="text-center">Our mission at Pizza Planet is to delight our customers with exceptional quality, delicious flavors,
                and an unforgettable dining experience. We are committed to crafting the finest, handcrafted pizzas using
                only the freshest ingredients sourced from local and sustainable suppliers.</p>

            <p>We strive to create a warm and welcoming atmosphere where families, friends, and colleagues can gather to
                savor delectable pizzas that cater to a variety of tastes and dietary preferences. Our menu showcases a
                diverse selection of traditional and innovative toppings, expertly combined to create mouthwatering
                culinary masterpieces.</p>

            <p>Beyond the culinary realm, we believe in fostering a sense of community and giving back. We actively
                engage with local charities, supporting initiatives that promote education, hunger relief, and environmental
                sustainability. By doing so, we aim to contribute positively to the neighborhoods we serve.</p>

            <p>Our dedicated team of passionate pizza artisans takes pride in every pizza we create. We continuously
                seek excellence in both taste and service, striving to exceed customer expectations at every interaction.
                From our attentive staff to our efficient delivery service, we aim to ensure that each customer receives
                a personalized and memorable experience.</p>

            <p>At Pizza Planet, we are not just about making pizzas; we are about creating moments of joy,
                connections, and shared memories. We are committed to being the go-to destination for pizza
                enthusiasts who value quality, flavor, and an exceptional dining experience.</p>

            <p>Join us on this flavorful journey and let us be your ultimate pizza destination.</p>
        </div>
    </div>

    <hr>

    <h3>Meet the team!</h3>
    <div class="row">

        <div class="col-9">
            <p>Welcome! I'm Josh, co-founder of Pizza Planet. Alongside my closest friends, we're thrilled to
                introduce you to some of the most delectable pizza creations you've ever tasted. Our passion
                for delivering top-quality pizza is the driving force behind everything we do, and we're excited
                to share that with you! Join us on this journey to experience the best pizza out there, made with
                love and a commitment to excellence.</p>
        </div>
        <div class="col-3">
            <img id="joshsImage" class="rounded" src="images/countdownArchesSquare.jpeg"/>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-3">
            <img id="samsImage" class="rounded" src="images/Sam.jpg">
        </div>
        <div class="col-9">
            <p>Hello, I'm Sam, one of the visionary founders of Pizza Planet. With a palate honed by tasting countless pizzas,
                it's my ultimate goal is to bring you the absolute best-tasting pizza experience. Discover how my
                passion for delivering unparalleled flavor has shaped Pizza Planet into a destination that guarantees
                an unforgettable pizza journey right at your doorstep.</p>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-9">
            <p>Hello, I'm Nathan, a pizza enthusiast with a passion for crafting delicious pies!
            With years of experience, I have perfected the art of dough-making, sauce preparation, and creating unique flavor combinations.
            At Pizza Planet, we prioritize quality ingredients sourced locally to create unforgettable pizza experiences for our customers.
            Join me on this pizza journey as we explore the wonders of artisanal dough, delightful toppings, and the magic that happens inside a hot oven!</p>
        </div>
        <div class="col-3">
            <img class="rounded align-middle" src="images/Nathan.jpg">
        </div>
    </div>

</section>

<include href="views/includes/footer.html"></include>

</body>
</html>