<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
<section class="container">

    <div class="row">
        <repeat group="{{ @SESSION.orders }}" value="{{ @SESSION.orders }}">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ @SESSION.orders->getName() }}</h5>
                        <p>{{@SESSION.orders->getDescription()}}</p>
                    </div>
                </div>
            </div>
        </repeat>
    </div>
    <!--    button for logout -->
    <form method="post" action="#">
        <button class="btn btn-primary m-4 form-control" type="submit">Logout!</button>
    </form>
</section>

<include href="views/includes/footer.html"></include>
</body>