<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
    <section class="container">

        <h2>Select From Our Featured Pizzas!</h2>
        <div class="row">
            <repeat group="{{ @SESSION.pizzas }}" value="{{ @SESSION.pizzas }}">
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <img src="images/defaultPizza.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ @SESSION.pizzas['name'] }}</h5>
                            <p class="card-text">{{ @SESSION.pizzas['description'] }}</p>
                            <form action="#" method="post">
                                <input type="hidden" name="id[]" value="{{@SESSION.pizzas['id']}}">
                                <button type="submit" class="btn btn-primary order-button">Buy that!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </repeat>
        </div>

        <h2>Select From Our Featured Sodas!</h2>
        <div class="row">
            <repeat group="{{ @SESSION.sodas }}" value="{{ @SESSION.sodas }}">
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <img src="images/defaultSoda.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ @SESSION.sodas['name'] }}</h5>
                            <p class="card-text">{{ @SESSION.sodas['description'] }}</p>
                            <form action="#" method="post">
                                <input type="hidden" name="id[]" value="{{@SESSION.sodas['id']}}">
                                <button type="submit" class="btn btn-primary order-button">Buy that!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </repeat>
        </div>

        <h2>Select From Our Featured Sides!</h2>
        <div class="row">
            <repeat group="{{ @SESSION.sides }}" value="{{ @SESSION.sides }}">
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <img src="images/wings.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ @SESSION.sides['name'] }}</h5>
                            <p class="card-text">{{ @SESSION.sides['description'] }}</p>
                            <form action="#" method="post">
                                <input type="hidden" name="id[]" value="{{@SESSION.sides['id']}}">
                                <button type="submit" class="btn btn-primary order-button">Buy that!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </repeat>
        </div>
    </section>

    <include href="views/includes/footer.html"></include>
</body>
</html>