<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
<section class="container">

    <h2>Select One from our pizzas</h2>
    <div class="row">
        <loop from="{{ @i=0 }}" to="{{ @i < 4 }}" step="{{ @i++ }}">
            <div class="col-3">
                <div class="card">
                    <img src="images/defaultPizza.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pizza {{@i + 1}}</h5>
                        <p class="card-text bg-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Buy that shit</a>
                    </div>
                </div>
            </div>
        </loop>
    </div>

    <h2>Select One from of our sodas!</h2>
    <div class="row">
        <loop from="{{ @i=0 }}" to="{{ @i < 3 }}" step="{{ @i++ }}">
            <div class="col-4">
                <div class="card">
                    <img src="images/defaultSoda.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Soda {{@i + 1}}</h5>
                        <p class="card-text bg-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Buy that shit</a>
                    </div>
                </div>
            </div>
        </loop>
    </div>

    <h2>Select One from our sides!</h2>
    <div class="row">
        <loop from="{{ @i=0 }}" to="{{ @i < 6 }}" step="{{ @i++ }}">
            <div class="col-2">
                <div class="card">
                    <img src="images/wings.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wings {{@i + 1}}</h5>
                        <p class="card-text bg-secondary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Buy that shit</a>
                    </div>
                </div>
            </div>
        </loop>
    </div>

</section>
<include href="views/includes/footer.html"></include>
</body>