<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>
<section class="container">
    <h1>Custom Pizza!</h1>

    <form action="#" method="post">
        <div class="row">

            <div class="col-6">
                <h4>Choose Add Crust</h4>

                <check if="{{ isset(@errors['$crust']) }}">
                    <span class="err">{{ @errors['$crust'] }}</span>
                </check>

                <select class="form-select" name="crust" aria-label="Default select example">
                    <repeat group="{{@crust}}" value="{{@crust}}">
                        <option value="{{@crust}}"> {{@crust}}</option>
                    </repeat>
                </select>
            </div>


            <div class="col-6">
                <h4>Type of Sauce</h4>

                <check if="{{ isset(@errors['$sauce']) }}">
                    <span class="err">{{ @errors['$sauce'] }}</span>
                </check>

                <select class="form-select" name="sauce" aria-label="Default select example">
                    <repeat group="{{@sauce}}" value="{{@sauce}}">
                        <option value="{{@sauce}}">{{@sauce}}</option>
                    </repeat>
                </select>
            </div>
        </div>
        <br>

        <h4>What Toppings?</h4>

        <check if="{{ isset(@errors['$toppings']) }}">
            <span class="err">{{ @errors['$toppings'] }}</span>
        </check>

        <div class="row">
            <repeat group="{{@toppings}}" value="{{@toppings}}">
                <div class="col-3">
                    <label>
                        <input
                                type="checkbox"
                                name="toppings[]"
                                id="{{@toppings}}"
                                value="{{@toppings}}"
                        >{{@toppings}}
                    </label>
                </div>

            </repeat>
        </div>
        <br>

        <div class="row">
            <div class="col-6">
                <h4 class="mb-4">Choose Size</h4>
                <check if="{{ isset(@errors['$size']) }}">
                    <span class="err">{{ @errors['$size'] }}</span>
                </check>
                <repeat group="{{@size}}" value="{{@size}}">
                    <input type="radio" id="size" name="size" value="{{@size}}">
                    <label class="form-label" for="size">{{@size}}</label>
                </repeat>
            </div>

            <div class="col-6">
                <h4>Special Instructions?</h4>
                <div>
                    <textarea class="form-control" id="instructions" rows="2" name="instructions"></textarea>
                </div>
            </div>
        </div>
        <div id="makePizza">
            <button class="btn btn-primary m-4 form-control" type="submit">Make my Pizza!</button>
        </div>

    </form>
</section>
<include href="views/includes/footer.html"></include>
</body>
</html>