<include href="views/includes/header.html"></include>
<body>
<include href="views/includes/nav.html"></include>

<section class="container">
    <div class="row">
        <repeat group="{{ @SESSION.items }}" value="{{ @SESSION.items }}">
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="images/defaultSoda.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ @SESSION.items['name'] }}</h5>
                        <p class="card-text">{{ @SESSION.items['description'] }}</p>
                        <form action="#" method="post">
                            <input type="hidden" name="id[]" value="{{@SESSION.items['id']}}">
                            <button type="submit" class="btn btn-primary order-button">Buy that!</button>
                        </form>
                    </div>
                </div>
            </div>
        </repeat>
    </div>
</section>
<include href="views/includes/footer.html"></include>